{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <form method="post" action="{{ path('app_user_doUpdate', {'id': form.vars.value.id}) }}" novalidate="novalidate">
            <div>{{ form_errors(form.email) }}</div>
            <div>{{ form_row(form.email) }}</div>
            <div>{{ form_row(form.username) }}</div>
            <div>{{ form_row(form.password) }}</div>
            {{ form_rest(form) }}
            <div><input type="submit" value="Update"></div>
        </form>
    </div>
{% endblock %}