{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <form method="post" action="{{ path('app_user_doUpdate') }}">
            <input type="hidden" name="id" value="{{ user.id }}">
            {{ user.id }}<br>
            <input type="email" value="{{ user.email }}" name="email"><br>
            <input type="text" value="{{ user.password }}" name="password"><br>
            <input type="text" value="{{ user.username }}" name="username"><br>
            {{ user.createdAt|date("d/m/Y H:i:s") }}<br>
            {{ user.updatedAt|date("d/m/Y H:i:s") }}<br>
            <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}